In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\marbu\Downloads\pima_indians_diabetes.csv")
data.head()

,time_pregnant_no,plasma_concentration,diastolic_blood_pressure,triceps_skinfold_thickness,serum_insulin,bmi,diabetes_pedigree,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
from sklearn.preprocessing import LabelEncoder

In [11]:
enc = LabelEncoder()

In [15]:
atr_data = data.drop(columns='class')
atr_data.head(8000)

,time_pregnant_no,plasma_concentration,diastolic_blood_pressure,triceps_skinfold_thickness,serum_insulin,bmi,diabetes_pedigree,age
0,6,86,22,28,0,123,350,29
1,1,23,19,22,0,62,196,10
2,8,121,17,0,0,30,368,11
3,1,27,19,16,62,77,53,0
4,0,75,4,28,102,209,514,12
...,...,...,...,...,...,...,...,...
7995,7,57,0,0,0,49,86,16
7996,7,80,14,26,114,84,376,40
7997,1,38,19,8,28,33,367,5
7998,5,49,22,21,0,36,232,6
7999,8,132,25,22,147,162,340,36

In [14]:
cls_data = data['class']
cls_data.head(8000)

0       1
1       0
2       1
3       0
4       1
       ..
7995    0
7996    0
7997    0
7998    0
7999    1
Name: class, Length: 8000, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.naive_bayes import GaussianNB

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(atr_data, cls_data, test_size=0.2, random_state=500)
tree_data = GaussianNB()
tree_data.fit(xtrain, ytrain)

GaussianNB()

In [18]:
tree_data.class_count_

array([3974., 2537.])

In [19]:
print("Nilai akurasi pada data testing:", tree_data.score(xtest, ytest))

Nilai akurasi pada data testing: 0.7475429975429976